azure:
    subscription_id: {{subscription_id}}

ecc:
    log: ecc.log
    nodes_max: 10
    nodes_min: 0
    nodes_spare: 0
    sleep: 30
    name_template: "ecc-node-{}"

    image: GOLD CentOS 7
    #ansible_dir: <PATH, eg: /usr/local/ansible/infrastructure-playbook/env/test>
    #ansible_cmd: "<CMD, EG: ./venv/bin/ansible-playbook -i ecc_nodes.py slurm.yml"

    #azure variables
    compute_group: FOR-NEURO-SYSMED-UTV-COMPUTE
    network_group: FOR-NEURO-SYSMED-UTV-NETWORK
    virtual_network: FOR-NEURO-SYSMED-UTV-VNET
    virtual_subnet:  WorkloadsSubnet
    vm_size: Standard_D2as_v4
    admin_username: {{ecc_user}}
    admin_password: {{ecc_user_password}}
    ssh_key: "{{ssh_key}}"